<ul>
  <li>
    <% todo.each do |todo| %>
      <p>******************************************</p>
      <div class = "info">
      <p> <strong>ID:</strong> <%= todo.id %></p>

      <p> <strong>Name:</strong> <%= todo.todo %></p>

      <p> <strong>Complete:</strong> <%= todo.complete %></p>

      <p> <strong>Created Time:</strong> <%= todo.created_at %></p>

      <p> <strong>Updated Time:</strong> <%= todo.updated_at %></p>
    </div>
    <div class = "view">
      <%= link_to "View", controller: "todos", action: "show", id: todo.id %>
    </div>
     <div class = "delete">
      <%= button_to "Delete #{todo.id}", { action: "destroy", id: todo.id }, method: "delete" %>
    </div>
    <%end%>
  </li>
</ul>
