<ul>
  <li>
<p>******************************************</p>
      <p> <strong>ID:</strong> <%= todo.id %></p>

      <p> <strong>Name:</strong> <%= todo.todo %></p>

      <p> <strong>Complete:</strong> <%= todo.complete %></p>

      <p> <strong>Created Time:</strong> <%= todo.created_at %></p>

      <p> <strong>Updated Time:</strong> <%= todo.updated_at %></p>

  </li>
  </ul>

